<!-- Start Main -->
<main class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-8">
              <div ng-repeat="char in characters" style="cursor:pointer">
                    <a ui-sref="character({characterId: char.id})">{{char.name}} ({{char.gender}})</a>
              </div>
                <!-- <div class="characters" id="top">
                    <ul class="character-list">
                        <li ng-repeat="person in people">
                            <div class="character">
                                <h3>Name: {{ person.name }}</h3>
                                <p>Gender: {{ person.gender }}</p>
                                <p>Hair Color:{{ person.hair_color }}</p>
                                <p>Eye Color: {{ person.eye_color }}</p>
                                <button class="btn btn-primary" ng-click="getStarships( person.starships )">
                                    Get {{ person.starships.length }} starships.
                                </button>
                            </div>
                            <hr />
                        </li>
                        <button ng-click="getNextPage()" class="btn btn-success pull-right">Next Page</button>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="starships">
                <ul class="ship-list">
                    <li ng-repeat="ship in starships">
                        <div class="ship">
                            <h3>Name: {{ ship.name }}</h3>
                            <h4>Manufacturer: {{ ship.manufacturer }}</h4>
                            <p>Cost: {{ ship.cost_in_credits }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- End Main -->
